@using QLTV2._0.Helper
@model List<QLTV2._0.Models.CartComponentModels.CartItems>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal feeShip = 0;
    int districtCode=0;
    Taikhoan kh = ViewBag?.KhachHang;
    if(kh is not null&&User.IsInRole("0"))
    {
        var data =kh.IdKhNavigation.DiaChi.Split(",")[1];
        districtCode = Int32.Parse(data.Split("-")[0]);
    }
}
<div class="container-fluid pt-5">
        <div class="row px-xl-5">
           @if(Context.User.Identity.IsAuthenticated)
        {
            
            var data = kh;
            if(kh.IdKhNavigation is not null)
            {
                  if(kh.IdKhNavigation.DiaChi is null ||kh.IdKhNavigation.Sdt is null )
            {
                <p class="text-danger">Thông tin khách hàng chưa được cập nhật, vui lòng cập nhật số điện thoại và địa chỉ để đặt hàng. <a href="/me/settings">Cập nhật tại đây</a> </p>
            }
            else
            {
                 <div class="col-lg-8">
            <p>Đơn hàng của thành viên <a href="#">@kh?.IdKhNavigation?.TenKhachHang</a> sẽ được vận chuyển đến địa chỉ <a href="#">@kh?.IdKhNavigation?.DiaChi</a> </p>
            </div>
            }
            }
          
           
        }
        else
        {
             <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">THÔNG TIN NHẬN HÀNG</h4>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Tên người nhận</label>
                            <input class="form-control" type="text" placeholder="John" id="Tennguoimua">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Họ người nhận</label>
                            <input class="form-control" type="text" placeholder="Doe" id="Honguoimua">
                        </div>

                        <div class="col-md-12 form-group">
                            <label>Số điện thoại</label>
                            <input class="form-control" type="text" placeholder="Số điện thoại người nhận hàng" id="Sdt">
                        </div>
                       
                        
                          <div class="col-md-12 form-group">
                            <label>Tỉnh, Thành phố</label>
                            <select class="custom-select" id="province">
                                 <option disabled selected> -- Chọn Tỉnh, Thành phố -- </option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group" id="districtGroup">
                            <label>Quận, Huyện</label>
                             <select class="custom-select" id="district">
                                   <option disabled selected> -- Chọn Quận, Huyện -- </option>
                            </select>
                        </div>
                         <div class="col-md-12 form-group" id="wardGroup">
                            <label>Phường,Xã</label>
                             <select class="custom-select" id="ward">
                                    <option disabled selected> -- Chọn Phường,Xã -- </option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        }
         @if(kh.IdKhNavigation.DiaChi is not null ||kh.IdKhNavigation.Sdt is not  null )
            {
                 <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Dùng mã khuyến mãi</button>
                        </div>
                    </div>
                </form>
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">TỔNG ĐƠN HÀNG</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        @foreach(var item in Model)
                    {
                          <div class="d-flex justify-content-between">
                            <p>@item.items.Tensach x(@item.qty)</p>
                            <p>@FormatCurrency.Vnd(item.items.Giaban)</p>
                        </div>
                    }
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Tổng đơn</h6>
                            <h6 class="font-weight-medium">@FormatCurrency.Vnd(Model.Sum(x=>x.total))</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium" >Phí giao hàng</h6>
                            <h6 class="font-weight-medium" id="ship_fee">$0</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Thành tiền</h5>
                            <h5 class="font-weight-bold" id="finalPrice">@FormatCurrency.Vnd(Model.Sum(x=>x.total))</h5>
                        </div>
                    </div>
                                    <div class="card border-secondary mb-5">
                    <div class="card-footer border-secondary bg-transparent">
                        <input name="idKh" type="hidden" value="@kh?.IdKh"/>
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" id="btnOrder" >XÁC NHẬN ĐẶT HÀNG</button>
                    </div>
                </div>
                </div>

            </div>
            }
       
        </div>
    </div>
    @section scripts
    {
        <script>
                let province;
                let district;
                let ward;
                let finalPrice;
                let shipfee;
                let idKh = $("input[name='idKh']").val()    
            const costWithAccount=(district_code)=>
            {
                   $.ajax
  ({
      type: "GET",
      beforeSend: (request) => {
          request.setRequestHeader("token", "4116bad7-d01f-11ec-ac32-0e0f5adc015a");
      },
      url: "https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee",
      data: {
          "service_type_id": 2,
          "insurance_value":@Model.Sum(x => x.total),
  "coupon": null,
      "from_district_id": 1574,
          "to_district_id": district_code,
              "to_ward_code": 20314,
                  "height": 20,
                      "length": 20,
                          "weight": 20 *@Model.Sum(x => x.qty),
                "width":15,
}, success: (res) => {

shipfee = res.data.total
finalPrice = Number(@Model.Sum(x => x.total)) + Number(shipfee);
const finalPriceConvertVnd = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(finalPrice);
const ShipFeeConvertVnd = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(shipfee);
$("#finalPrice").html(finalPriceConvertVnd);
$("#ship_fee").html(`${ShipFeeConvertVnd}`);
}
    })
    
            }
            const cost =()=>
            {
                let district_id = $('#district').find(":selected").val();
                console.log({district_id})
                  $.ajax
  ({
      type: "GET",
      beforeSend: (request) => {
          request.setRequestHeader("token", "4116bad7-d01f-11ec-ac32-0e0f5adc015a");
      },
      url: "https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee",
      data: {
          "service_type_id": 2,
          "insurance_value":@Model.Sum(x => x.total),
  "coupon": null,
      "from_district_id": 1574,
          "to_district_id": district_id,
              "to_ward_code": 20314,
                  "height": 20,
                      "length": 20,
                          "weight": 20 *@Model.Sum(x => x.qty),
                "width":15,
}, success: (res) => {

shipfee = res.data.total
finalPrice = Number(@Model.Sum(x => x.total)) + Number(shipfee);
const finalPriceConvertVnd = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(finalPrice);
const ShipFeeConvertVnd = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(shipfee);
$("#finalPrice").html(finalPriceConvertVnd);
$("#ship_fee").html(`${ShipFeeConvertVnd}`);
}
    })
            }

            const handleSubmitOrder=()=>
            {
                
                
                $("#btnOrder").click((e)=>
                {
                 const Tennguoimua = document.getElementById("Tennguoimua")?.value;
                const Honguoimua = document.getElementById("Honguoimua")?.value;
                const Sdt = document.getElementById("Sdt")?.value;
                
                    $.post("/dat-hang",{
                        TenKhachHang:`${Honguoimua} ${Tennguoimua}`,
                        Sdt,
                        DiaChi:`${ward}, ${district}, ${province}`,
                        TongHoaDon:finalPrice,
                        Phiship:shipfee,
                        Discount:0,
                        IdKh:idKh
                    },(data,err)=>
                    {
                        if(data.success)
                        {
                            alert(data.msg)
                            window.location.replace("/");
                        }
                    })
                })
            }

         
        handleHideElement($("#districtGroup"),"none")
        handleHideElement($("#wardGroup"),"none")
        handleGetProvince(cost);
        handleSubmitOrder();
        costWithAccount( @districtCode)
        //;
        
        </script>
    }