@using QLTV2._0.Helper
@model List<QLTV2._0.Models.CartComponentModels.CartItems>
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal subPrice = 0;
    if(Model is not null)
    {
         subPrice = Model.Sum(x=>x.total);
    }
    
}
@if(Model is not null&&Model.Count>0)
{
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Sẩn phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    @{
                        if(Model is not null)
                        {
                               @foreach(var item in Model)
                    {
                         <tr>
                            <td class="align-middle"><img src="~/assets/ImgThumb/@item.items.Img" alt="" style="width: 50px;"> @item.items.Tensach</td>
                            <td class="align-middle">@FormatCurrency.Vnd(item.items.Giaban)</td>

                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value=@item.qty _id=@item.items.IdSach>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle totalPrice">@FormatCurrency.Vnd(item.total)</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary btn_remove_itemCart" _id=@item.items.IdSach >Xóa</button></td>
                        </tr>
                    }
                        }
                    }
                     
                   
                   
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
        
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">  Thông tin giỏ hàng <i class="fa fa-shopping-cart text-primary" style="font-size:24px;"></i></h4>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Thành tiền  </h5>
                            <h5 class="font-weight-bold" id="finalPrice" price="@subPrice">@FormatCurrency.Vnd(subPrice) </h5>
                        </div>
                        <a target="_blank" href="/checkout">  <button  class="btn btn-block btn-primary my-3 py-3"> <b>THANH TOÁN</b></button></a>
                    </div>
                </div>
           
            
            </div>
        </div>
    </div>
}
else
{
   <div class="cart-empty body-mh-300" style="justify-content: center;display: flex;align-items: center;">
       <div style="text-align: center"><div class="icon-empty-cart">
           <img src="https://cdn0.fahasa.com/skin//frontend/ma_vanese/fahasa/images/checkout_cart/ico_emptycart.svg" class="center">
           </div><p style="font-size:14px;margin: 20px 0;">Chưa có sản phẩm trong giỏ hàng của bạn.</p>
           <a style="color: white;text-transform: uppercase;" href="/">
               <button class="btn btn-primary" type="button" title="Mua sắm ngay" style="margin:auto">Mua sắm ngay</button></a></div></div>
}

@section scripts
{
    <script>
        $(".btn_remove_itemCart").click((e)=>
        {
            var element = e.target.parentElement.parentElement
           const _id = e.target.getAttribute("_id")
           let data =  handleRemoveCartItem(_id,element);
        })
    </script>
    
}