@model IEnumerable<QLTV2._0.Models.Nxb>

@{
    ViewData["Title"] = "Quản lý nhà xuất bản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Mã Nxb
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại   
            </th>
            <th>
               Tên nhà xuất bản
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manxb)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennxb)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Manxb">Chỉnh sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.Manxb">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
