@model QLTV2._0.Models.Sach

@{
    ViewData["Title"] = "Chi tiết sách ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tensach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tensach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giaban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giaban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManxbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManxbNavigation.Manxb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaphieunhapNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaphieunhapNavigation.Maphieunhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatheloaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatheloaiNavigation.Matheloai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Masach">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
