@using QLTV2._0.Helper
@using System.Security.Claims;
@model QLTV2._0.Models.Sach
@{
    ViewData["Title"] = Model.Tensach+" | ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var img = Context.User.Claims.FirstOrDefault(x => x.ValueType == "url")?.Value;
    var url = img;
}

<div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                         <img class="w-100" style="height:350px; object-fit:cover;" src="~/assets/ImgThumb/@Model.Img" alt="Image">
                 @*   @{
                        List<Hinhanh> imgs = ViewBag.imgs;
                        for(int i = 0;i<imgs.Count;i++)
                        {
                            if(i==1)
                            {
                         <div class="carousel-item active">
                            <img class="w-100" style="height:350px; object-fit:contain;" src="~/assets//HinhAnhSach/@imgs[i].Url" alt="Image">
                                </div>
                            }
                            else
                            {
                                   <div class="carousel-item">
                                    <img class="w-100"  style="height:350px; object-fit:contain;" src="~/assets//HinhAnhSach/@imgs[i].Url" alt="Image">
                                </div>
                            }

                        }
                    }*@
                       
                    </div>
                @*    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>*@
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">@Model.Tensach</h3>
                <small>Nhà xuất bản : @Model.ManxbNavigation.Tennxb</small>
                <br />
                @if(Model.Chitiettacgia.Count<=0)
            {
                <small>Tác giả : Chưa cập nhật</small>
            }
            else
            {
                List<string> temp = new List<string>();
                foreach(var item in Model.Chitiettacgia )
                {
                    temp.Add(item.IdTacgiaNavigation.Tentacgia);
                }
                var data = temp;
                <small>Tác giả : @String.Join(" , ",temp.ToArray())</small>
            }
            
                <h3 class="font-weight-semi-bold mb-4">@FormatCurrency.Vnd(@Model.Giaban)</h3>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <button class="btn btn-primary px-3 btnAddToCart" _id="@Model.IdSach"><i class="fa fa-shopping-cart mr-1" ></i> Thêm vào giỏ hàng</button>
                </div>
                <div class="d-flex pt-2">
    @*                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Giới thiệu sản phẩm</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <p>@Model.Mota</p>
                 
                  
                </div>
            </div>
        </div>
    </div>
    @*Comments*@
  
<div class="container mt-5 mb-5">
        <h3 class="text-center">BÌNH LUẬN</h3>
        @if(!User.Identity.IsAuthenticated)
        {
             <a href="/dang-nhap" class="text-black-50">   <button class="btn btn-primary"> 
            Vui lòng đăng nhập để bình luận
            </button></a>    
         
        }
        else
        {
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="@(img==null?"/assets/res/user--v1.png":img) " width="38">
                        <input type="text" class="form-control mr-3" id="yourMessage" placeholder="Viết bình luận của bạn">
                        <button class="btn btn-primary btnSendMessage" type="button">SEND</button>
                    </div>
        }

                    <div id="messageContent">
        @{
            var comments =(List<Comments>)ViewBag.comments;
            
            if(comments.Count>0)
            {
                
                @foreach(var item in comments)
                        {
                          <div class="d-flex justify-content-center row" id="@item.IdComment">
             
            <div class="d-flex flex-column col-md-8">
                <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                    <div class="profile-image"><img class="rounded-circle" src="@item.TaiKhoanNavigation.avatar " width="70"></div>
                    <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"><i class="fa fa-sort-up fa-2x hit-voting"></i><span>@item.Likes</span><i class="fa fa-sort-down fa-2x hit-voting"></i></div>
                    <div class="d-flex flex-column ml-3">
                        <div class="d-flex flex-row post-title">
                            <h5>@item.Content</h5><span class="ml-2">(@item.TaiKhoanNavigation?.IdKhNavigation?.TenKhachHang)</span></div>
                        <div class="d-flex flex-row align-items-center align-content-center post-title"><span class="mr-2 dot"></span><span>6 hours ago</span></div>
                    </div>
                </div>
                
                <div class="coment-bottom bg-white p-2 px-4">
                                   @if(!User.Identity.IsAuthenticated)
               {
                     <a href="/dang-nhap" class="text-black-50">   <button class="btn btn-primary"> 
            Vui lòng đăng nhập để trả lời bình luận
            </button></a>    
               }
               else
               {
                      <div class="d-flex flex-row add-comment-section mt-4 mb-4">
        <img class="img-fluid img-responsive rounded-circle mr-2" src="@(img==null?"/assets/res/user--v1.png":img) " width="38">
        <input type="text" class="form-control mr-3 replyValue"  placeholder="Trả lời bình luận này">
        <button class="btn btn-primary btnSendReply @item.IdComment"   _idComment="@item.IdComment" type="button">SEND</button>
    </div>
               }
                     @*Comment item*@  
                     <div class="reply_items" class="ml-5">
                        @foreach(var reply in item.Replys)
                                {
                                      
                         <div class="commented-section mt-2" >
                <div class="d-flex flex-row align-items-center commented-user">
                    <h5 class="mr-2">@reply.TaiKhoanNavigation.IdKhNavigation.TenKhachHang</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">5 hours ago</span></div>
                <div class="comment-text-sm"><span>@reply.Content</span></div>
                <div class="reply-section">
                    <div class="d-flex flex-row align-items-center voting-icons"><i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i><span class="ml-2">@reply.Likes</span><span class="dot ml-2"></span>
                        @*<h6 class="ml-2 mt-1 btn btn-primary btnSendReply " _idComment=@item.IdComment>Phản hồi</h6> *@
                    </div>
                </div>
            </div>

                     
                                }
                              </div>
                    

            @*Comment INPUT*@
            @*<div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"><input type="text" class="form-control mr-3" placeholder="Add comment"><button class="btn btn-primary" type="button">Comment</button></div>*@


    </div>
    </div>
                    </div>
                }
             
            }
            else
            {
                
            }
        }
          </div>
    </div>
    @*Có thể bạn cụng thích*@
 <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Có thể bạn sẽ thích</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    @{
                        List<Sach> products = ViewBag.mayLike;
                        if(products!=null)
                        {
                            foreach(var item in products)
                            {
                                 <div class="card product-item border-0">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/assets/ImgThumb/@item.Img" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@item.Tensach</h6>
                            <div class="d-flex justify-content-center">
                                <h6>@FormatCurrency.Vnd(item.Giaban)</h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="/san-pham/@item.IdSach/@CustomSlug.Slugify(item.Tensach)" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
                            <button  class="btn btn-sm text-dark p-0 btnAddToCart" _id="@item.IdSach"><i class="fas fa-shopping-cart text-primary mr-1 " ></i>Thêm vào giỏ</button>
                        </div>
                    </div>
                            }
                           
                        }
                    }
                 
                  

                </div>
            </div>
        </div>
    </div>

   @section scripts{

         
       <script>
            const connection = new signalR.HubConnectionBuilder()
    .withUrl("/comments")
    .configureLogging(signalR.LogLevel.Information)
    .build();

async function start() {
    try {
        await connection.start();
        connection.invoke("AddToGroup", "@Convert.ToString(Model.Masach)").catch(function (err) {
                    return console.error(err.toString());
        })
        console.log("SignalR Connected.");
    } catch (err) {
        console.log(err);
        setTimeout(start, 5000);
    }
};

connection.onclose(async () => {
    await start();
});

// Start the connection.

    const ReceiveMessage=()=>
    {
        connection.on("ReceiveMessage",async(message,userInfo)=>
        {
            console.log(userInfo)
            $("#messageContent").append(`
                 <div class="d-flex justify-content-center row" id="${message.idComment}">
             
            <div class="d-flex flex-column col-md-8">
                <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                    <div class="profile-image"><img class="rounded-circle" src="${userInfo.avt}" width="70"></div>
                    <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"><i class="fa fa-sort-up fa-2x hit-voting"></i><span>${message.likes}</span><i class="fa fa-sort-down fa-2x hit-voting"></i></div>
                    <div class="d-flex flex-column ml-3">
                        <div class="d-flex flex-row post-content">
                            <h5>${message.content}</h5><span class="ml-2">(${userInfo.ten})</span></div>
                        <div class="d-flex flex-row align-items-center align-content-center post-title"><span class="mr-2 dot"></span><span>6 hours ago</span></div>
                    </div>
                </div>
                
               <div class="coment-bottom bg-white p-2 px-4">
               @if(!User.Identity.IsAuthenticated)
               {
                     <a href="/dang-nhap" class="text-black-50">   <button class="btn btn-primary"> 
            Vui lòng đăng nhập để trả lời bình luận
            </button></a>    
               }
               else
               {
                      <div class="d-flex flex-row add-comment-section mt-4 mb-4">
        <img class="img-fluid img-responsive rounded-circle mr-2" src="@(img==null?"/assets/res/user--v1.png":img) " width="38">
        <input type="text" class="form-control mr-3 replyValue"  placeholder="Trả lời bình luận này">
        <button class="btn btn-primary btnSendReply ${message.idComment}"   _idComment="${message.idComment}" type="button">SEND</button>
    </div>
               }
 
    <div class="reply_items">
                  
                  
                  </div>
    </div>

                     @*Comment item*@  
                  
            
            `)
              $(`.btnSendReply.${message.idComment}`).on("click",  (e)=>
    {
        const idComment =parseInt( e.target.getAttribute("_idComment") );
        connection.invoke("SendReplyToGroup","@Model.Masach.Trim()",{
            UserName:'@User.FindFirst(ClaimTypes.NameIdentifier)?.Value',
            IdComment :idComment,
            Masach:"@Model.Masach",
            Content:e.target.parentElement.getElementsByClassName("replyValue")[0].value,
            Likes:0,
        }).catch(function (err) {
        return console.error(err.toString());
    })
    })
        })
       

    }
      const getAllMessage=()=>
           {
               connection.on("ReceiveAllMessage",(listMessage)=>
               {
                   console.log(listMessage);
               })
           }
           const getALlReply=()=>
           {
                connection.on("ReceiveReply",(listMessage,name)=>
               {
                   console.log(listMessage)

                  $(`#${listMessage.idComment}`).find(".reply_items").append(`
                   <div class="commented-section mt-2" >
                <div class="d-flex flex-row align-items-center commented-user">
                    <h5 class="mr-2">${name}</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">5 hours ago</span></div>
                <div class="comment-text-sm"><span>${listMessage.content}</span></div>
                <div class="reply-section">
                    <div class="d-flex flex-row align-items-center voting-icons"><i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i><span class="ml-2">${listMessage.likes}</span><span class="dot ml-2"></span>
                      @*  <h6 class="ml-2 mt-1 btn btn-primary btnSendReply" _idComment=${listMessage.idComment}>Phản hồi</h6> *@
                    </div>
                </div>
            </div>
                  
                  `)
               })
           }
    const SendMessage=async()=>
    {
        connection.invoke("SendMessageToGroup",'@Model.Masach.Trim()',{
            UserName:'@User.FindFirst(ClaimTypes.NameIdentifier)?.Value',
            Masach:"@Model.Masach",
            Content:$("#yourMessage").val(),
            Likes:0,
        })

   
    }
    $(".btnSendMessage").click(()=>
    {
         SendMessage();
    })
    const SendReply=()=>
    {
         $(".btnSendReply").on("click",  (e)=>
    {
        const idComment =parseInt( e.target.getAttribute("_idComment") );
        connection.invoke("SendReplyToGroup","@Model.Masach.Trim()",{
            UserName:'@User.FindFirst(ClaimTypes.NameIdentifier)?.Value',
            IdComment :idComment,
            Masach:"@Model.Masach",
            Content:e.target.parentElement.getElementsByClassName("replyValue")[0].value,
            Likes:0,
        }).catch(function (err) {
        return console.error(err.toString());
    })
    })
    }

    getAllMessage();
    ReceiveMessage();
    SendReply();
     getALlReply();
     start();
       </script>
   }