@using QLTV2._0.Helper
@model QLTV2._0.Models.Sach
@{
    ViewData["Title"] = Model.Tensach+" | ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                         <img class="w-100" style="height:350px; object-fit:cover;" src="~/assets/ImgThumb/@Model.Img" alt="Image">
                 @*   @{
                        List<Hinhanh> imgs = ViewBag.imgs;
                        for(int i = 0;i<imgs.Count;i++)
                        {
                            if(i==1)
                            {
                         <div class="carousel-item active">
                            <img class="w-100" style="height:350px; object-fit:contain;" src="~/assets//HinhAnhSach/@imgs[i].Url" alt="Image">
                                </div>
                            }
                            else
                            {
                                   <div class="carousel-item">
                                    <img class="w-100"  style="height:350px; object-fit:contain;" src="~/assets//HinhAnhSach/@imgs[i].Url" alt="Image">
                                </div>
                            }

                        }
                    }*@
                       
                    </div>
                @*    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>*@
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">@Model.Tensach</h3>
                <small>Nhà xuất bản : @Model.ManxbNavigation.Tennxb</small>
                <br />
                @if(Model.Chitiettacgia.Count<=0)
            {
                <small>Tác giả : Chưa cập nhật</small>
            }
            else
            {
                List<string> temp = new List<string>();
                foreach(var item in Model.Chitiettacgia )
                {
                    temp.Add(item.IdTacgiaNavigation.Tentacgia);
                }
                var data = temp;
                <small>Tác giả : @String.Join(" , ",temp.ToArray())</small>
            }
            
                <h3 class="font-weight-semi-bold mb-4">@FormatCurrency.Vnd(@Model.Giaban)</h3>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <button class="btn btn-primary px-3 btnAddToCart" _id="@Model.IdSach"><i class="fa fa-shopping-cart mr-1" ></i> Thêm vào giỏ hàng</button>
                </div>
                <div class="d-flex pt-2">
    @*                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Giới thiệu sản phẩm</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <p>@Model.Mota</p>
                 
                  
                </div>
            </div>
        </div>
    </div>
    @*Có thể bạn cụng thích*@
 <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Có thể bạn sẽ thích</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    //Code here
                    @{
                        List<Sach> products = ViewBag.mayLike;
                        if(products!=null)
                        {
                            foreach(var item in products)
                            {
                                 <div class="card product-item border-0">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/assets/ImgThumb/@item.Img" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@item.Tensach</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6><h6 class="text-muted ml-2"><del>@item.Giaban</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <button  class="btn btn-sm text-dark p-0 btnAddToCart" _id="@item.IdSach"><i class="fas fa-shopping-cart text-primary mr-1 " ></i>Add To Cart</button>
                        </div>
                    </div>
                            }
                           
                        }
                    }
                 
                  

                </div>
            </div>
        </div>
    </div>
