@model QLTV2._0.Models.Phieunhap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Phieunhap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhieunhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhieunhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluongnhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluongnhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gianhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gianhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Maphieunhap">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
