@model IEnumerable<QLTV2._0.Models.Phieunhap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPhieunhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluongnhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gianhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPhieunhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gianhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Maphieunhap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Maphieunhap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Maphieunhap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
